<div *ngIf="currentUser">
    <header class="row bg-dark text-light p-1">
        <div class="col-12">
            <h3>Configurador</h3>
        </div>
    </header>

    <!-- nav -->
    <div class="sticky-top">
        <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
            <div class="navbar-nav">
                <a class="nav-item nav-link" routerLink="/">Home</a>
                <a class="nav-item nav-link" (click)="logout()">Logout</a>
            </div>
        </nav>
    </div>
</div>