<?php

use Illuminate\Database\Schema\Blueprint;
// use Phinx\Migration\AbstractMigration;

class $className extends $baseClassName
{

    public function up()
    {
        $this->schema->create($friendlyName, function (Blueprint $table) {
            $table->increments('id');
            
            
            $table->timestamps();
        });
    }
    
    public function down()
    {
        $this->schema->dropIfExists("$tableName");
    }

}
